/*14648737-720-720?v=637511892564730000*/
.div-class-lista-card{
    background-color: rgba(0,0,0, 3%);
}
.div-class-editar-cep{
    padding-top: 15px;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    height: 40px;
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-item-align: center;
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1440px;
}
.div-class-ret-cep{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}
.bnt-class-editar-cep{
    align-items: center;
    align-self: end;
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: .938rem;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0px;
    color: #205BC6;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.bnt-class-editar-cep::after {
    content: "";
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33337 1.83337L5.50004 6.00004L1.33337 10.1667' stroke='%231E5BC6' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");  
}



@media screen and (max-width: 700px){
    .div-class-sombra.sombra{
        height: 100px;
    }
    .div-class-painel-fixo.fixo{
        height: fit-content;
        flex-direction: column;
    }
}
.logo{
    width: auto;
    display: block;
    user-select: none;
    /*margin: left;*/
}
.div-class-sombra{
    margin-top: 0px;
    min-width: 0px;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 3%);
}
.div-class-painel-fixo{
    margin-top: 0px;
    min-width: 0px;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255);
}
.span-class-logo{
    width: 25%;
}
.div-class-input-busca{
    width: 40%;
    display: flex;
    flex-direction: row;
    border: 0;
}
.input-class-busca{
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    box-decoration-break: unset;
    border-color: #205BC6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: 0;
}
.bnt-class-busca{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #205BC6;
    border: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 0;
    width: 10%;
    height: 40px;
}
.div-clas-oculta{
    display: none; 
    position: relative; 
    left: 0px; 
    top: 0px;
}